In [64]:
# Importing libraries
import pandas as pd
import datetime as dt

# Exploratory Data Analysis

In [81]:
# Dataset
data = pd.read_csv("sleepdata.csv", sep = ";")

row, col = data.shape

print("The dataset contains", row, "rows and", col, "columns.")

data.head()

The dataset contains 887 rows and 8 columns.

,Start,End,Sleep quality,Time in bed,Wake up,Sleep Notes,Heart rate,Activity (steps)
0,2014-12-29 22:57:49,2014-12-30 07:30:13,100%,8:32,:),NaN,59.0,0
1,2014-12-30 21:17:50,2014-12-30 21:33:54,3%,0:16,:|,Stressful day,72.0,0
2,2014-12-30 22:42:49,2014-12-31 07:13:31,98%,8:30,:|,NaN,57.0,0
3,2014-12-31 22:31:01,2015-01-01 06:03:01,65%,7:32,NaN,NaN,NaN,0
4,2015-01-01 22:12:10,2015-01-02 04:56:35,72%,6:44,:),Drank coffee:Drank tea,68.0,0

In [66]:
data.isnull().sum(axis = 0)

Start                 0
End                   0
Sleep quality         0
Time in bed           0
Wake up             641
Sleep Notes         235
Heart rate          725
Activity (steps)      0
dtype: int64

In [67]:
data.dtypes

Start                object
End                  object
Sleep quality        object
Time in bed          object
Wake up              object
Sleep Notes          object
Heart rate          float64
Activity (steps)      int64
dtype: object

In [68]:
data.describe()

       Heart rate  Activity (steps)
count  162.000000        887.000000
mean    60.604938       2776.378805
std      7.102933       3486.482157
min     49.000000          0.000000
25%     57.000000          0.000000
50%     60.000000        255.000000
75%     64.000000       5317.000000
max     98.000000      21870.000000

# Data Manipulation

In [141]:
data_cleaned = data.copy()

# Dropping columns "Heart rate" and "Activity (steps)"
data_cleaned = data_cleaned.drop(["Heart rate", "Activity (steps)"], axis = 1)

# Dropping rows where "Sleep Notes" is NAN
data_cleaned = data_cleaned.dropna(subset = ["Sleep Notes"])

# Modifying "Time in bed" into minutes
data_cleaned = data_cleaned.reset_index(drop=True)

for row in range(data_cleaned.shape[0]):
    str_time = data_cleaned["Time in bed"][row]
    if str_time[1] == ":":
        data_cleaned["Time in bed"][row] = int(data_cleaned["Time in bed"][row][0]) * 60 + int(data_cleaned["Time in bed"][row][2:4])
    else:
        data_cleaned["Time in bed"][row] = int(data_cleaned["Time in bed"][row][0:2]) * 60 + int(data_cleaned["Time in bed"][row][3:5])    

# Showing the results
data_cleaned.head()

,Start,End,Sleep quality,Time in bed,Wake up,Sleep Notes
0,2014-12-30 21:17:50,2014-12-30 21:33:54,3%,16,:|,Stressful day
1,2015-01-01 22:12:10,2015-01-02 04:56:35,72%,404,:),Drank coffee:Drank tea
2,2015-01-03 00:34:57,2015-01-03 07:47:23,83%,432,:),Drank coffee:Drank tea
3,2015-01-04 00:23:06,2015-01-04 07:37:09,78%,434,NaN,Drank tea
4,2015-01-04 21:34:44,2015-01-05 04:53:34,78%,438,:),Ate late:Drank coffee

In [146]:
# Encoding Sleep Notes into variables

data_cleaned["Sleep Notes"].value_counts()

Drank coffee:Drank tea:Worked out                  164
Drank coffee:Drank tea                             123
Drank coffee:Worked out                             91
Drank coffee                                        75
Drank tea:Worked out                                62
Drank tea                                           58
Drank coffee:Stressful day:Worked out               15
Drank coffee:Drank tea:Stressful day                14
Drank coffee:Drank tea:Stressful day:Worked out     13
Ate late:Drank coffee:Drank tea:Worked out          10
Drank coffee:Stressful day                           8
Drank tea:Stressful day:Worked out                   5
Ate late:Drank coffee:Drank tea                      5
Ate late:Drank coffee:Worked out                     3
Ate late:Drank coffee                                2
Drank tea:Stressful day                              1
Ate late:Drank coffee:Drank tea:Stressful day        1
Worked out                                           1
Stressful day                                        1
Name: Sleep Notes, dtype: int64

In [185]:
# Coffee
data_cleaned["Coffee"] = data_cleaned["Sleep Notes"].apply(lambda row: int("coffee" in row))

# Tea
data_cleaned["Tea"] = data_cleaned["Sleep Notes"].apply(lambda row: int("tea" in row))

# Working out
data_cleaned["Working out"] = data_cleaned["Sleep Notes"].apply(lambda row: int("worked" in row))

# Late eating
data_cleaned["Late eating"] = data_cleaned["Sleep Notes"].apply(lambda row: int("Ate late" in row))

# Stress
data_cleaned["Stress"] = data_cleaned["Sleep Notes"].apply(lambda row: int("Stressful" in row))

data_cleaned.head()

,Start,End,Sleep quality,Time in bed,Wake up,Sleep Notes,Coffee,Tea,Working out,Late eating,Stress
0,2014-12-30 21:17:50,2014-12-30 21:33:54,3%,16,:|,Stressful day,0,0,0,0,1
1,2015-01-01 22:12:10,2015-01-02 04:56:35,72%,404,:),Drank coffee:Drank tea,1,1,0,0,0
2,2015-01-03 00:34:57,2015-01-03 07:47:23,83%,432,:),Drank coffee:Drank tea,1,1,0,0,0
3,2015-01-04 00:23:06,2015-01-04 07:37:09,78%,434,NaN,Drank tea,0,1,0,0,0
4,2015-01-04 21:34:44,2015-01-05 04:53:34,78%,438,:),Ate late:Drank coffee,1,0,0,1,0